body {
  text-align: center;
  font-family: helvetica, sans-serif;
}

h1, h2, h3, nav a {
  font-weight: bold;
}

nav a, .sectionTitle, .footer {
  color: white;
}

nav li {
  list-style: none;
}

nav a {
  font-size: 18px;
}

.sectionTitle {
  background-image: url(../the-flatiron-building.png);
}

.sectionTitle h1 {
  font-size: 70px;
}

.sectionTitle li{
  padding: 5px;
}

.mainSection h2 {
  font-size: 32px;
}

.section h3 {
  font-size: 23px;
}

.section p {
  font-size: 14px;
}

.footer {
  background-color: dimgray;
  font-size: 11px;
}

.footer ul {
  text-align: left;
}

.footer li {
  display: inline-block;
}
